!!!
%html
  %head
    %title= @cue_sheet.title
    %meta{content: 'text/html; charset=UTF-8', "http-equiv" => "Content-Type"}/
    %link{href: 'cue_sheet.sass', rel: 'stylesheet'}/
  %body
    = haml :_cue_sheet
