@page
  size: 148mm 105mm

body
  margin: 0
  padding: 0

.cue-sheet
  display: flex
  flex-wrap: wrap
  font-size: 0.75em

  .cue-row
    *
      page-break-inside: avoid

  .cue
    border: 1px silver solid
    max-width: 7cm
    margin: 0
    vertical-align: top
    line-height: 1.1em

    .header
      float: right
      color: silver
      font-size: smaller
      border-left: 1px silver dashed
      border-bottom: 1px silver dashed
      padding: 0 0.125em
      text-align: right

    .no
      font-weight: bold

    .content
      display: inline

    .roads
      padding-bottom: 0.25em

    .block-distance
      font-weight: bold

    .point
      font-weight: bold
      word-break-wrap: none
      background-color: lightgray
    &.pc
      .point-desc
        color: red

    .other
      font-style: italic
      display: inline

    .percent
      color: silver
