<html>
<body>
<h1>キューシート変換</h1>
<form action="cue_sheet">
  <div>
    <input type="url" name="sheet_url" placeholder="Google SpreadsheetのシートのURL" size="128">
  </div>
  <div>
    <input name="base_cell" placeholder="A5にNoの'1'があるなら'4,0'" size="32">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
</body>
</html>
